.brand-img {
    width: 25%;
}

.brand-name {
    color: #F9FAFC;
    font-family: Chantal Bold Italic, sans-serif;
    font-size: 60px;
    font-weight: bold;
    align-items: 10%;
}

.hero-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
    object-fit: cover;
}

@media (max-width: 768px) {
    .hero-image {
        border-radius: 5px;
    }
}

@media (max-width: 480px) {
    .hero-image {
        border-radius: 10;
    }
}

body {
    background-color: #F9FAFC;
}

container-fluid {
    padding: 5px, 5px;
}

.bg-white {
    background-color: #1ABC9C !important;
}

.nav-link {
    color: #FFFFFF !important;
}

.text-muted {
    color: #FFFFFF !important;
}

.nav-button {
    padding: 10px 0px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 100%;
    display: inline-block;
    margin: 5px;
}

.main-bg {
    background-color: #F9FAFC;
}

.dark-bg {
    background-color: #1ABC9C;
}

.footer {
    width: 100%;
    text-align: center;
}

.form {
    padding-left: 20px;
}