{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for continent in continent_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in continent.featured_image.url %}
                                    <img class="img-fluid" src="{% static 'images/coffee' %}"
                                    alt="{{ continent.name }}">
                                {% else %}
                                    <img class="img-fluid" src=" {{ continent.featured_image.url }}"
                                    alt="{{ continent.name }}">
                                {% endif %}
                            </div>
                            <a href="{% url 'origin_products' continent.name %}" class="continent-link">
                                <h2 class="card-title">{{ continent.name }} Coffee</h2>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
