{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="hero-container">
        <img class="hero-img img-fluid" src="{% static 'images/Relish-hero-image.webp' %}" alt="Hero Image">
    </div>

    <div class="content-container">
        <div class="row justify-content-center py-4 py-lg-5">
            <div class="col-12 col-md-8">
                <h2 class="hand--written mb-3">About Relish Bazaar</h2>
                <p>Relish is a coffee roastery that sources coffee beans from around the world. We are dedicated to providing the best coffee experience to our customers. Our coffee beans are sourced from the best coffee farms in the world and roasted to perfection. We offer a wide range of coffee beans from different regions, each with its unique flavor profile. Whether you are a coffee connoisseur or just starting your coffee journey, we have something for everyone. Explore our collection of coffees from around the world and find your perfect cup of coffee.</p>
            </div>
        </div>    

        <div class="row justify-content-center py-4 py-lg-5">
            <div class="col-12 col-md-8">
                <h2 class="hand--written mb-3">Our Products</h2>
                <p>At Relish, we take pride in offering an exceptional selection of coffee beans from various corners of the globe. Each region brings its own distinctive flavors and aromas, allowing you to experience a rich variety of coffee profiles. From the bold and earthy notes of African beans to the smooth, delicate flavors of Asian varieties, our curated range caters to every palate. Whether you're an experienced coffee enthusiast or new to the world of specialty brews, our diverse collection guarantees you'll find a blend that suits your taste.</p>
            </div>
        </div>

        <h2 class="col-12 col-md-8">Coffees of the world</h2>
        <div class="row">
            {% for continent in continent_list %}
            <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'origin_products' continent.name %}" class="continent-link">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/coffee/' %}{{ continent.image }}" alt="{{ continent.name }}">
                        </div>
                            <h2 class="card-title">{{ continent.name }} Coffee</h2>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
