{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <h1>{{ continent_name }} Coffee</h1>
            <div class="row">
                {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'product_detail' product.product_id %}">
                                {% if "placeholder" in product.image.url %}
                                <img src="{% static 'images/placeholder.jpg' %}" alt="{{ product.name }}" class="img-fluid">
                                {% else %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                                {% endif %}
                                <h2 class="card-title mt-2">{{ product.name }}</h2>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
