{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
<a href="{% url 'origin_products' continent_name=continent_name %}">{{ continent_name }} Coffee</a>&nbsp;/&nbsp;
<a href="{% url 'product_detail' product_id=product.product_id %}">{{ product.name }}</a>&nbsp;/&nbsp;
<a href="{% url 'purchase_form' product_id=product.product_id %}">Purchase Enquiry</a>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto mt-5">
            <div class="card">
                <div class="card-header">
                    <h1>Purchase a bag of {{ product.name }}</h1>
                </div>
                <div class="card-body">
                    <form method="post" class="my-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

