{% extends "base.html" %}
{% load static %}

{% block content %}


<head>
    <title>Password Reset</title>
</head>
<body>
    {% if validlink %}
        <h2>Set New Password</h2>
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">Set new password</button>
        </form>
    {% else %}
        <h2>Password Reset Complete</h2>
        <p>Your password has been set. You can now<a href="{% url 'login' %}">log in</a>.</p>
    {% endif %}
</body>
{% endblock content %}
